{
  "presets": [
    [
      "@babel/preset-env", {
        "modules": false,
        "loose": false,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-runtime", {
        "regenerator": false
      }
    ]
  ],
  "comments": false
}
