MAP
  NAME "ASB_SPT"

  UNITS DD

  SIZE 800 600

  IMAGETYPE PNG24

  EXTENT -180 -90 180 90

  PROJECTION
    "init=epsg:4326"
  END

  WEB
    METADATA
      ows_title "AusSeabed Survey Coordination Tool"
      ows_enable_request "*"
      ows_srs "EPSG:4326 EPSG:25832 EPSG:25833 EPSG:3857"
      wms_feature_info_mime_type "application/json, application/geojson"
      wms_include_items "all"
      wms_enable_request "*"
    END
  END

  OUTPUTFORMAT
    NAME "application/geojson"
    MIMETYPE "application/json; subtype=geojson"
    DRIVER "OGR/GEOJSON"
    FORMATOPTION "STORAGE=stream"
    FORMATOPTION "FORM=SIMPLE"
  END


  OUTPUTFORMAT
    NAME "json"
    MIMETYPE "application/json"
    DRIVER "OGR/GEOJSON"
    FORMATOPTION "STORAGE=stream"
    FORMATOPTION "FORM=SIMPLE"
    FORMATOPTION "FILENAME=sct.json"
  END

  OUTPUTFORMAT
    NAME "csv"
    DRIVER "OGR/CSV"
    MIMETYPE "text/csv"
    # Don't include geom in csv exports
    # FORMATOPTION "LCO:GEOMETRY=AS_WKT"
    FORMATOPTION "STORAGE=memory"
    FORMATOPTION "FORM=simple"
    FORMATOPTION "FILENAME=sct.csv"
  END

  OUTPUTFORMAT
    NAME "SHAPE-ZIP"
    DRIVER "OGR/ESRI Shapefile"
    FORMATOPTION "STORAGE=memory"
    FORMATOPTION "FORM=zip"
    FORMATOPTION "FILENAME=sct.zip"
  END

  OUTPUTFORMAT
    NAME "kml"
    DRIVER "OGR/KML"
    MIMETYPE "application/vnd.google-earth.kml+xml"
    IMAGEMODE RGB
    IMAGEMODE FEATURE
    EXTENSION "kml"
    FORMATOPTION 'ATTACHMENT=sct.kml'
  END

  # the outputFormat query string arg is not escaped in an external tool
  # accessing this mapserver, as a result the "+" character is interpreted
  # as a space in the name (and not a plus). This outputformat caters for this
  OUTPUTFORMAT
    NAME "application/vnd.google-earth.kml xml"
    DRIVER "OGR/KML"
    MIMETYPE "application/vnd.google-earth.kml+xml"
    IMAGEMODE RGB
    IMAGEMODE FEATURE
    EXTENSION "kml"
    FORMATOPTION 'ATTACHMENT=sct.kml'
  END

  OUTPUTFORMAT
    NAME "cairopng"
    DRIVER CAIRO/PNG
    MIMETYPE "image/png"
    IMAGEMODE RGBA
    EXTENSION "png"
    TRANSPARENT on
  END

  LEGEND
    
  END

  LAYER
    NAME "Survey_Plans"
    METADATA
      "wfs_title"         "Survey Plans" ##REQUIRED
      "wfs_srs"           "EPSG:4326" ## REQUIRED
      "gml_include_items" "all" ## Optional (serves all attributes for layer)
      "gml_featureid"     "id" ## REQUIRED
      "wfs_enable_request" "*"
      wms_enable_request "*"
      "ows_enable_request" "*"
      wms_getfeature_formatlist "application/json,application/geojson"
      wfs_getfeature_formatlist "application/json,application/geojson,json,text/xml,csv,SHAPE-ZIP,kml,application/vnd.google-earth.kml xml"
    END
    STATUS ON
    TEMPLATE "dummy.js"
    TYPE POLYGON
    CONNECTIONTYPE postgis

    CONNECTION "user={{ getenv "POSTGRES_USER" }} password={{ getenv "POSTGRES_PASSWORD" }} dbname={{ getenv "POSTGRES_DB" }} host={{ getenv "POSTGRES_HOSTNAME" }} port={{ getenv "POSTGRES_PORT" }}"
    DATA "area_of_interest from (
            select sp.id as spid, commorgs.orgname as \"Commissioning_Organisations\" ,sp.status, sp.\"startDate\" as \"Start_Date\", sp.\"endDate\" as \"End_Date\", sp.\"contactPerson\" as \"Contact_Person\", sp.email as \"Contact_email\",sp.comment as \"Comments\" ,sp.area_of_interest as area_of_interest, sp.\"surveyName\" as \"Survey_Name\", sa.group as \"Category\", sa.name as \"Purpose\", instmerge.instname as \"Instrument_Types\", dctmerge.dctname as \"Data_Capture_Types\"
            from survey_plan sp
            join survey_application sa on sp.\"surveyApplicationId\" = sa.id
            join record_state rs on sp.\"recordStateId\" = rs.id
            full outer join (
              SELECT survey_plan.id as id, string_agg(DISTINCT organisation.name, ', ') as orgname FROM survey_plan LEFT JOIN survey_plan_organisations_organisation ON survey_plan.id = survey_plan_organisations_organisation.\"surveyPlanId\" INNER JOIN organisation ON survey_plan_organisations_organisation.\"organisationId\" = organisation.id GROUP BY survey_plan.id
            ) commorgs on commorgs.id = sp.id
            full outer join (
              SELECT survey_plan.id as id, string_agg(DISTINCT custodian.name, ', ') as custname FROM survey_plan LEFT JOIN survey_plan_custodians_custodian ON survey_plan.id = survey_plan_custodians_custodian.\"surveyPlanId\" INNER JOIN custodian ON survey_plan_custodians_custodian.\"custodianId\" = custodian.id GROUP BY survey_plan.id
            ) custmerge on custmerge.id = sp.id
            full outer join (
              SELECT survey_plan.id as id, string_agg(DISTINCT instrument_type.name, ', ') as instname FROM survey_plan LEFT JOIN survey_plan_instrument_types_instrument_type ON survey_plan.id = survey_plan_instrument_types_instrument_type.\"surveyPlanId\" INNER JOIN instrument_type ON survey_plan_instrument_types_instrument_type.\"instrumentTypeId\" = instrument_type.id GROUP BY survey_plan.id
            ) instmerge on instmerge.id = sp.id
            full outer join (
              SELECT survey_plan.id as id, string_agg(DISTINCT data_capture_type.name, ', ') as dctname FROM survey_plan LEFT JOIN survey_plan_data_capture_types_data_capture_type ON survey_plan.id = survey_plan_data_capture_types_data_capture_type.\"surveyPlanId\" INNER JOIN data_capture_type ON survey_plan_data_capture_types_data_capture_type.\"dataCaptureTypeId\" = data_capture_type.id GROUP BY survey_plan.id
            ) dctmerge on dctmerge.id = sp.id
            WHERE sp.deleted = false AND sp.public = true AND rs.state = 'finalised' AND sp.status != 'Abandoned'
          ) as subquery using unique spid"
    CLASS
      NAME "Complete"
      EXPRESSION ('[status]' = "Complete")
      STYLE
        OUTLINECOLOR '#11A579'
        WIDTH 2
      END
      STYLE
        COLOR '#11A579'
        OPACITY 30
      END
    END

    CLASS
      NAME "Scheduled"
      EXPRESSION ('[status]' = "Scheduled")
      STYLE
        OUTLINECOLOR '#E68310'
        WIDTH 2
      END
      STYLE
        COLOR '#E68310'
        OPACITY 30
      END
    END

    CLASS
      NAME "Planning"
      EXPRESSION ('[status]' = "Planning")
      STYLE
        OUTLINECOLOR '#CF1C90'
        WIDTH 2
      END
      STYLE
        COLOR '#CF1C90'
        OPACITY 30
      END
    END

  END


  LAYER
    NAME "Survey_Plans_HIPP"
    METADATA
      "wfs_title"         "Survey Plans HIPP" ##REQUIRED
      "wfs_srs"           "EPSG:4326" ## REQUIRED
      "gml_include_items" "all" ## Optional (serves all attributes for layer)
      "gml_featureid"     "id" ## REQUIRED
      "wfs_enable_request" "*"
      wms_enable_request "*"
      "ows_enable_request" "*"
      wms_getfeature_formatlist "application/json,application/geojson"
      wfs_getfeature_formatlist "application/json,application/geojson,json,text/xml,csv,SHAPE-ZIP,kml,application/vnd.google-earth.kml xml"
    END
    STATUS ON
    TEMPLATE "dummy.js"
    TYPE POLYGON
    CONNECTIONTYPE postgis

    CONNECTION "user={{ getenv "POSTGRES_USER" }} password={{ getenv "POSTGRES_PASSWORD" }} dbname={{ getenv "POSTGRES_DB" }} host={{ getenv "POSTGRES_HOSTNAME" }} port={{ getenv "POSTGRES_PORT" }}"
    DATA "area_of_interest from (
            select sp.id as spid, commorgs.orgname as \"Commissioning_Organisations\" ,sp.status, sp.\"startDate\" as \"Start_Date\", sp.\"endDate\" as \"End_Date\", sp.\"contactPerson\" as \"Contact_Person\", sp.email as \"Contact_email\",sp.comment as \"Comments\" ,sp.area_of_interest as area_of_interest, sp.\"surveyName\" as \"Survey_Name\", sa.group as \"Category\", sa.name as \"Purpose\", instmerge.instname as \"Instrument_Types\", dctmerge.dctname as \"Data_Capture_Types\"
            from survey_plan sp
            join survey_application sa on sp.\"surveyApplicationId\" = sa.id
            join record_state rs on sp.\"recordStateId\" = rs.id
            join survey_plan_organisations_organisation AS spoo ON spoo.\"surveyPlanId\" = sp.id
            join organisation as org on org.id = spoo.\"organisationId\"
            full outer join (
              SELECT survey_plan.id as id, string_agg(DISTINCT organisation.name, ', ') as orgname FROM survey_plan LEFT JOIN survey_plan_organisations_organisation ON survey_plan.id = survey_plan_organisations_organisation.\"surveyPlanId\" INNER JOIN organisation ON survey_plan_organisations_organisation.\"organisationId\" = organisation.id GROUP BY survey_plan.id
            ) commorgs on commorgs.id = sp.id
            full outer join (
              SELECT survey_plan.id as id, string_agg(DISTINCT custodian.name, ', ') as custname FROM survey_plan LEFT JOIN survey_plan_custodians_custodian ON survey_plan.id = survey_plan_custodians_custodian.\"surveyPlanId\" INNER JOIN custodian ON survey_plan_custodians_custodian.\"custodianId\" = custodian.id GROUP BY survey_plan.id
            ) custmerge on custmerge.id = sp.id
            full outer join (
              SELECT survey_plan.id as id, string_agg(DISTINCT instrument_type.name, ', ') as instname FROM survey_plan LEFT JOIN survey_plan_instrument_types_instrument_type ON survey_plan.id = survey_plan_instrument_types_instrument_type.\"surveyPlanId\" INNER JOIN instrument_type ON survey_plan_instrument_types_instrument_type.\"instrumentTypeId\" = instrument_type.id GROUP BY survey_plan.id
            ) instmerge on instmerge.id = sp.id
            full outer join (
              SELECT survey_plan.id as id, string_agg(DISTINCT data_capture_type.name, ', ') as dctname FROM survey_plan LEFT JOIN survey_plan_data_capture_types_data_capture_type ON survey_plan.id = survey_plan_data_capture_types_data_capture_type.\"surveyPlanId\" INNER JOIN data_capture_type ON survey_plan_data_capture_types_data_capture_type.\"dataCaptureTypeId\" = data_capture_type.id GROUP BY survey_plan.id
            ) dctmerge on dctmerge.id = sp.id
            WHERE sp.deleted = false AND sp.public = true AND rs.state = 'finalised' AND sp.status != 'Abandoned' AND org.name = 'Australian Hydrographic Office (HIPP)'
          ) as subquery using unique spid"
    CLASS
      NAME "Complete"
      EXPRESSION ('[status]' = "Complete")
      STYLE
        OUTLINECOLOR '#11A579'
        WIDTH 2
      END
      STYLE
        COLOR '#11A579'
        OPACITY 30
      END
    END

    CLASS
      NAME "Scheduled"
      EXPRESSION ('[status]' = "Scheduled")
      STYLE
        OUTLINECOLOR '#E68310'
        WIDTH 2
      END
      STYLE
        COLOR '#E68310'
        OPACITY 30
      END
    END

    CLASS
      NAME "Planning"
      EXPRESSION ('[status]' = "Planning")
      STYLE
        OUTLINECOLOR '#CF1C90'
        WIDTH 2
      END
      STYLE
        COLOR '#CF1C90'
        OPACITY 30
      END
    END

  END


  LAYER
    NAME "areas_of_interest"
    METADATA
      "wfs_title"         "Areas of Interest" ##REQUIRED
      "wfs_srs"           "EPSG:4326" ## REQUIRED
      "gml_include_items" "all" ## Optional (serves all attributes for layer)
      "gml_featureid"     "id" ## REQUIRED
      "wfs_enable_request" "*"
      wms_enable_request "*"
      "ows_enable_request" "*"
      wms_getfeature_formatlist "application/json,application/geojson"
      wfs_getfeature_formatlist "application/json,application/geojson,json,text/xml,csv,SHAPE-ZIP,kml,application/vnd.google-earth.kml xml"
    END
    STATUS ON
    TEMPLATE "dummy.js"
    TYPE POLYGON
    CONNECTIONTYPE postgis

    CONNECTION "user={{ getenv "POSTGRES_USER" }} password={{ getenv "POSTGRES_PASSWORD" }} dbname={{ getenv "POSTGRES_DB" }} host={{ getenv "POSTGRES_HOSTNAME" }} port={{ getenv "POSTGRES_PORT" }}"

    DATA "geom from (
            select 
              pas.submission_name as \"Submission_Name\",
              pa.name as \"Name\",
              pa.seacountry_name as \"Sea_Country_Name\",
              sorg.name as \"Submitting_Organisation\",
              pas.\"contactPerson\" as \"Contact_Name\",
              pas.\"contactEmail\" as \"Contact_Email\",
              pa.\"purposes\" as \"Purpose_for_Data_Collection\",
              pa.\"purpose_flags\" as \"Purpose_Clarification\",
              pa.\"purpose_values\" as \"Value_of_Data_Collection\",
              pa.intersections as \"Intersecting_Marine_Parks_and_zoning\",
              pa.ecological_area_name as \"Ecologically_Significant_Area_Name\",
              pa.ecological_area_type as \"Ecologically_Significant_Area_Type\",
              pa.ecosystems as \"Target_Environments\",
              pa.ecosystem_components as \"Target_Ecosystem_Components\",
              pa.data_to_capture as \"Required_Data\",
              pa.data_capture_methods as \"Preferred_Method\",
              pa.grid_size as \"Desired_Resolution\",
              pa.survey_standard as \"Bathymetry_Survey_Order\",
              pa.preferred_season as \"Season_Preference\",
              pa.\"preferredTimeframe\" as \"Timeframe_Preference\",
              pa.timeframe_reason as \"Timeframe_Justification\",
              pa.collection_cadence as \"Survey_Recurrence\",
              pa.time_series_description as \"Time_Series_Description\",
              pa.pressures as \"Location_Pressures\",
              pa.perceived_impact as \"Impact_of_Data_Collection\",
              pa.organisational_priority as \"Organisational_Priority\",
              pas.open_to_collaboration as \"Open_To_Collaboration\",
              pas.have_funds_resources as \"Have_resources_to_contribute\",
              rs.created as \"Last_Modified\",
              pa.id as paid,
              pa.geom as geom
            from priority_area pa
            join priority_area_submission pas on pa.\"priorityAreaSubmissionSubmissionId\" = pas.id
            left outer join organisation sorg on sorg.id = pas.\"submittingOrganisationId\"
            join record_state rs on pas.\"recordStateId\" = rs.id
            where rs.state = 'published' AND pas.deleted = false
          ) as subquery using unique paid using srid=4326"

    CLASS
      NAME "High Priority"
      EXPRESSION ('[Organisational_Priority]' = "High")
      STYLE
        OUTLINECOLOR '#ff0000'
        WIDTH 2
      END
      STYLE
        COLOR '#ff0000'
        OPACITY 30
      END
    END

    CLASS
      NAME "Medium Priority"
      EXPRESSION ('[Organisational_Priority]' = "Medium")
      STYLE
        OUTLINECOLOR '#2000ff'
        WIDTH 2
      END
      STYLE
        COLOR '#2000ff'
        OPACITY 30
      END
    END

    CLASS
      NAME "Low Priority"
      EXPRESSION ('[Organisational_Priority]' = "Low")
      STYLE
        OUTLINECOLOR '#008400'
        WIDTH 2
      END
      STYLE
        COLOR '#008400'
        OPACITY 30
      END
    END

    CLASS
      NAME "Priority NA"
      EXPRESSION ('[Organisational_Priority]' = "NA")
      STYLE
        OUTLINECOLOR '#090909'
        WIDTH 2
      END
      STYLE
        COLOR '#090909'
        OPACITY 30
      END
    END

  END





  LAYER
    NAME "Marine_Parks"
    METADATA
      "wfs_title"         "Marine Parks" ##REQUIRED
      "wfs_srs"           "EPSG:4326" ## REQUIRED
      "gml_include_items" "all" ## Optional (serves all attributes for layer)
      "gml_featureid"     "id" ## REQUIRED
      "wfs_enable_request" "*"
      wms_enable_request "*"
      "ows_enable_request" "*"
      wms_getfeature_formatlist "application/json,application/geojson"
      wfs_getfeature_formatlist "application/json,application/geojson,json,text/xml,csv,SHAPE-ZIP,kml,application/vnd.google-earth.kml xml"
    END
    STATUS ON
    TEMPLATE "dummy.js"
    TYPE POLYGON
    CONNECTIONTYPE postgis

    CONNECTION "user={{ getenv "POSTGRES_USER" }} password={{ getenv "POSTGRES_PASSWORD" }} dbname={{ getenv "POSTGRES_DB" }} host={{ getenv "POSTGRES_HOSTNAME" }} port={{ getenv "POSTGRES_PORT" }}"

    DATA "geom from (
            select mp.id as mpid ,mp.netname as netname, mp.resname as resname, mp.zonename as zonename, mp.zoneuicn as zoneuicn, mp.polygonid as polygonid, mp.geometry as geom
            from marine_park mp
          ) as subquery using unique mpid using srid=4326"

    CLASS
      STYLE
        OUTLINECOLOR '#00ff00'
        WIDTH 2
      END
      STYLE
        COLOR '#00ff00'
        OPACITY 30
      END
    END

  END




END
