MAP
  NAME "ASB_SPT"
  EXTENT -137 29 -53 88
  UNITS DD
  SHAPEPATH "/etc/mapserver/data"
  SIZE 800 600

  IMAGETYPE PNG24

  PROJECTION
    "init=epsg:4326"
  END

  WEB
    METADATA
      ows_title "AusSeabed Survey Planning Tool"
      ows_enable_request "*"
      ows_srs "EPSG:3857 EPSG:4326 EPSG:25832 EPSG:25833"
      wms_feature_info_mime_type "application/json, application/geojson"
      wms_include_items "all"
      wms_enable_request "*"
    END
  END

  OUTPUTFORMAT
    NAME "application/geojson"
    DRIVER 'template'
    MIMETYPE "application/json; subtype=geojson"
    FORMATOPTION 'FILE=geojsontemplate.js'
  END


  OUTPUTFORMAT
    NAME "json"
    DRIVER 'template'
    MIMETYPE "application/json; subtype=geojson"
    FORMATOPTION 'FILE=geojsontemplate.js'
  END

  LAYER
    NAME "Survey_Plans"
    METADATA
      "wfs_title"         "Survey Plans" ##REQUIRED
      "wfs_srs"           "EPSG:4326" ## REQUIRED
      "gml_include_items" "all" ## Optional (serves all attributes for layer)
      "gml_featureid"     "id" ## REQUIRED
      "wfs_enable_request" "*"
      wms_enable_request "*"
      "ows_enable_request" "*"
      wms_getfeature_formatlist "application/json, application/geojson"
    END
    STATUS ON
    TEMPLATE "jsontemplate.js"
    TYPE POLYGON
    CONNECTIONTYPE postgis

    CONNECTION "user={{ getenv "POSTGRES_USER" }} password={{ getenv "POSTGRES_PASSWORD" }} dbname={{ getenv "POSTGRES_DATABASE" }} host={{ getenv "POSTGRES_HOSTNAME" }} port={{ getenv "POSTGRES_PORT" }}"
    DATA "area_of_interest from (select sp.id as spid, sp.area_of_interest as area_of_interest, sp.\"surveyName\", sa.group as category, sa.name as purpose from survey_plan sp join survey_application sa on sp.\"surveyApplicationId\" = sa.id) as subquery using unique spid"
    CLASS
      STYLE
        COLOR 128 128 128
        ANTIALIAS true
      END
    END
  END

END
